Pemerintah/Project/AplikasiTrackingVaksin/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Project" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Project" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="Passsword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Login" nillable="true" type="tns:Login" />
  <xs:complexType name="ArrayOfData_Penduduk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Data_Penduduk" nillable="true" type="tns:Data_Penduduk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfData_Penduduk" nillable="true" type="tns:ArrayOfData_Penduduk" />
  <xs:complexType name="Data_Penduduk">
    <xs:sequence>
      <xs:element minOccurs="0" name="NIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="kecamatan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kelurahan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kode_pos" type="xs:int" />
      <xs:element minOccurs="0" name="kota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Data_Penduduk" nillable="true" type="tns:Data_Penduduk" />
  <xs:complexType name="ArrayOfReg_Vaksin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reg_Vaksin" nillable="true" type="tns:Reg_Vaksin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReg_Vaksin" nillable="true" type="tns:ArrayOfReg_Vaksin" />
  <xs:complexType name="Reg_Vaksin">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jenis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reg_Vaksin" nillable="true" type="tns:Reg_Vaksin" />
</xs:schema>