Pemerintah/Project/AplikasiTrackingVaksin/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58498/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Project" />
  <xs:element name="auth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Project" minOccurs="0" name="data" nillable="true" type="q1:Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="authResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Project" minOccurs="0" name="authResult" nillable="true" type="q2:Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAkun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAkunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Project" minOccurs="0" name="GetAkunResult" nillable="true" type="q3:Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datapenduduk">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="datapendudukResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Project" minOccurs="0" name="datapendudukResult" nillable="true" type="q4:ArrayOfData_Penduduk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tambahPenduduk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Project" minOccurs="0" name="datapenduduk" nillable="true" type="q5:Data_Penduduk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tambahPendudukResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tambahPendudukResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPenduduk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Project" minOccurs="0" name="data_Penduduk" nillable="true" type="q6:Data_Penduduk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPendudukResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPendudukResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePenduduk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePendudukResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePendudukResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPenduduk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Project" minOccurs="0" name="data_Penduduk" nillable="true" type="q7:Data_Penduduk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPendudukResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editPendudukResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData_PendudukById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData_PendudukByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Project" minOccurs="0" name="GetData_PendudukByIdResult" nillable="true" type="q8:Data_Penduduk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataRegVaksin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dataRegVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Project" minOccurs="0" name="dataRegVaksinResult" nillable="true" type="q9:ArrayOfReg_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tambahRegVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Project" minOccurs="0" name="regVaksin" nillable="true" type="q10:Reg_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tambahRegVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tambahRegVaksinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hapusRegVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hapusRegVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hapusRegVaksinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editRegVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Project" minOccurs="0" name="regVaksin" nillable="true" type="q11:Reg_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editRegVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editRegVaksinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Project" minOccurs="0" name="regVaksin" nillable="true" type="q12:Reg_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getRegVaksinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataRegVaksinById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataRegVaksinByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Project" minOccurs="0" name="getDataRegVaksinByIdResult" nillable="true" type="q13:Reg_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>