09_TrackingVaksin/MVC_Produsen_Validasi/Connected Services/ServiceReferenceAll/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="Passsword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Login" nillable="true" type="tns:Login" />
</xs:schema>